body {   margin: 0px;   padding: 0px; font: Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#5c5c5c;}
a{ color:#166cad; text-decoration:none; }
a:hover{ color: #FF9900; text-decoration:none;  }

#head-bg{ background: url(head-bg.gif) repeat-x; height:79px;}
#logo{ background: url(logo.gif) no-repeat top left ; margin:0 ; padding:0px; float:left; display:inline; width:135px; height:79px; }
#head-title{ font-size: 18px; line-height:24px; font-weight:bold; float:left; color:#ecf0f6; text-shadow: 0px 0px 20px #9a9c9e; margin:35px 0 0 10px ; }
#head-right{ background: url(head-right.gif) no-repeat top right ; margin:0 ; padding:0px; float:right; display:inline; width:175px; height:79px; }

#tree-top{background: url(tree-title-bg.gif) repeat-x top; height:26px; line-height:26px; font-weight:bold; padding:0 0 0 15px; color:#166cad; border-right: 1px solid #99BBE8;}

#tree-content{ margin:20px 0 0 10px; overflow:auto;}
#tree-content a{ text-decoration:none; color:#166cad; padding:2px 2px 2px 5px;}

#centent-title{ font-size:14px; text-align:center; font-weight:bold;}
#content-top{ margin:0; background: url(content-top-bg.gif) repeat-x top; height:26px; width:100%; border-left:1px solid #99BBE8; border-right:1px #99BBE8 solid; font-size:12px;}
#content-bg{ margin:0; padding:10px 10px; background: url(content-bg.gif) repeat-x top;height:100%; width:100%;}
#centent{ margin:20px 10px;}

#previous-next{ margin:10px 10px 0 10px; display:block; height:24px;}
#previous{ margin:0 10px ; float:right; background:url(previous.gif) left no-repeat; padding:0 0 0 20px;}
#next{ margin:0 10px ; float:right; background:url(next.gif) right no-repeat;padding:0 20px 0 0 ;}

#related{ margin:20px 10px;}
.related-title{ background:url(related-bg.gif) repeat-x; margin:0px; line-height:26px; padding:0 0 0 10px; font-weight:bold; color:#166cad;}
.related-title-left{ background:url(related-left.gif) no-repeat; width:10px; height:24px; float:left; margin:3px 5px 0 0 ; display:inline;}
.related-list{ margin:10px 20px; list-style:none;}
.related-list li{ background:url(related-list.gif) 2px 1px no-repeat; list-style:outside; padding:0 0 0 20px; line-height:18px;}
#footer{ background:url(footer-logo.gif) 10px 10px no-repeat #f7fafd ; margin:20px 10px 0 10px; height:62px; border:1px #bfd4f0 dashed;}
.copyright{ float:right; padding:35px 10px 0 0 ;}